@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #2a2a2a;
  color: white;
  margin-left: 0;
}

.search-bar-all-documents {
  display: flex;
  align-items: left;
  margin-left: 3px;
  font-size: large;
}
.search-text-plain {
  margin-right: 6.25vw; /* equivalent to 80px at viewport width of 1280px */
  font-size: 3vw;
  margin-left: 1px;
  font-weight: 1500; /* equivalent to 25px at viewport width of 1280px */
}
.search-bar-submit {
  height: 100%;
  font-size: inherit;
  height: 2.5vw; /* equivalent to 40px at viewport width of 1280px */
}

.search-bar-all-documents i {
  margin-right: 0.390625vw; /* equivalent to 5px at viewport width of 1280px */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2vw;
  margin-top: 3.90625vw; /* equivalent to 50px at viewport width of 1280px */
}


.search-bar-input {
  width: 48vw; /* equivalent to 600px at viewport width of 1280px */
  height: 0.20vw; /* equivalent to 40px at viewport width of 1280px */
  padding: 1.5625vw; /* equivalent to 20px at viewport width of 1280px */
  border: 0.078125vw solid #ccc; /* equivalent to 1px at viewport width of 1280px */
  border-radius: 1.5625vw; /* equivalent to 20px at viewport width of 1280px */
  font-size: 1.25vw; /* equivalent to 16px at viewport width of 1280px */
  outline: none;
  margin-bottom: 1.25vw; /* equivalent to 40px at viewport width of 1280px */
  position: relative;
  background-color: transparent;
  color: white;
}
.search-bar-input::placeholder {
  color: white;
}


.plaintext {
  content: "Enter your search terms here";
  display: block;
  margin-top: 0.390625vw; /* equivalent to 5px at viewport width of 1280px */
  font-size: 1.5625vw; /* equivalent to 20px at viewport width of 1280px */
  color: #ffffff;
  margin-bottom: 0.15625vw; /* equivalent to 2px at viewport width of 1280px */
}

.search-bar-clear {
  height: 100%;
  font-size: inherit;
  height: 2.5vw; /* equivalent to 40px at viewport width of 1280px */
}

.search-bar-clear:hover {
  color: #000000;
}

.hr {
  border: none;
  border-bottom: 0.078125vw solid #ccc; /* equivalent to 1px at viewport width of 1280px */
  margin-bottom: 1.5625vw; /* equivalent to 20px at viewport width of 1280px */
}

.search-bar-input::placeholder {
  color: #100f0f;
}

.search-results-container {
  width: 100%;
  max-width: 46.875vw; /* equivalent to 600px at viewport width of 1280px */
  flex-direction: column;
  margin-right: 8vw;
  display: flex;
  align-items: center;
  margin-left: 4vw;
  position: relative;
}
.search-bar-all-documents-text{
  margin-left: 4vw;

}

.search-result {
  width: 100%;
  max-width: 46.875vw; /* equivalent to 600px at viewport width of 1280px */
  padding: 1vw; /* equivalent to 20px at viewport width of 1280px */
  border: 0.078125 vw; /* equivalent to 1px at viewport width of 1280px */
  margin-bottom: 1.5625vw; /* equivalent to 20px at viewport width of 1280px */
  background-color: transparent;
  margin-left: 0;
}

.search-result-title {
  font-size: 1.40625vw; /* equivalent to 18px at viewport width of 1280px */
  font-weight: bold;
  margin-bottom: 0.390625vw; /* equivalent to 5px at viewport width of 1280px */
  color: #fff6f6;
  text-decoration: underline;
}

.search-result-description {
  font-size: 1.09375vw; /* equivalent to 14px at viewport width of 1280px */
  color: #f3eded;
  font-style: italic;

} 